<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <title>Star Wars Characters</title>
    <head th:fragment="headerFragment">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/foundation.min.css}" rel="stylesheet" />
        <link th:href="@{/css/custom.css}" rel="stylesheet" />
        <script th:src="@{/js/jquery.js}"></script>
    </head>
    <body>
        <div class="full-width">
            <div class="large-12 columns">
                <div layout:fragment="content"></div>
            </div>

        </div>
        <div th:fragment="footerFragment">
            <script th:src="@{/js/foundation.min.js}"></script>
        </div>
        <div layout:fragment="scripts"></div>
    </body>
</html>